<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>156833525483-duvlpna4n4kuo42i68qbseqfjnta7c0b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.156833525483-duvlpna4n4kuo42i68qbseqfjnta7c0b</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>156833525483-mvce01sajqeklri6uaecb2om7pfkluer.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDNHJCKMy9xweXcfA_f_kjTHTyrFdFTphU</string>
	<key>GCM_SENDER_ID</key>
	<string>156833525483</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.newFlutter</string>
	<key>PROJECT_ID</key>
	<string>new-flutter-2d85e</string>
	<key>STORAGE_BUCKET</key>
	<string>new-flutter-2d85e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:156833525483:ios:a2245b233680b6d66018ae</string>
	<key>DATABASE_URL</key>
	<string>https://new-flutter-2d85e-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>